{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nueva incidencia{% endblock %}

{% block body %}
    <h1>Crear incidencia</h1>

    {{ include('incidencia/_form.html.twig') }}

    <a href="{{ path('incidencia_index') }}">Volver</a>
{% endblock %}